#upper-side{
  background-color: #6944ff;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body,html{
  margin: 0;
  background-color: #f3f3f3;
  max-width: 100vh;
}
h1{
  padding-top: 50px;
  margin: 0;
  margin-bottom: 25px;
  font-family:  sans-serif;
  color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
  width: 96px;
  height: 60px;
  background-color: transparent;
  border: 2px solid rgba(219, 219, 219, 0.557);
  border-radius: 5px;
  color: white;
  font: bolder 40px "Arial";
  text-align: center;
  padding: 5px;
}
input:focus{
  outline: none;

}
button{
  margin: 20px;
  width: 110px;
  height: 37px;
  color: #1e2938;
  background-color: white;
  border: none;
  border-radius: 5px;
  font: bold 18px "Arial";
  color: #6944ff;
  transition: ;
}
button:hover{
  background-color: rgb(237, 237, 237);
}
#lower-side{
  padding: 30px;
  background-color: #f3f3f3;
  
}
#lower-side div div{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  color: #5731ec;
  width: 475px;
  height: 111px;
  margin-bottom: 30px;
  text-align: center;
  vertical-align: middle;
}
#lower-side div p {
  font: bold 15px "Arial";
  
}
h2{
  margin: 0;
}
#lower-side #ms div{
  margin-bottom: 0px;
}
#6944ff 
#1e2938
#dfeefd
#b6b6fe